.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 180px;
    gap: 10px;
}

/* Features main block */

.features__main {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

.features__picture img {
    object-fit: contain;
    width: 100%;
}

.features__block_category {
    color: #fa6400;
}

.features__block_title {
    font-size: 2rem;
    margin: 0;
}

.features__block_title:hover {
    color: #fa6400;
    cursor: pointer;
}

/* Features aside block */

.features__aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

.features__title {
    display: flex;
    align-items: center;
    background-color: #fa6400;
    padding-left: 18px;
    height: 40px;
    font-size: 0.8rem;
}

.features__card {
    display: flex;
    gap: 20px;
}

.features__card-picture > img {
    object-fit: contain;
    max-width: 180px;
}

.features__card h3 {
    margin: 0;
}





@media (max-width: 1300px) {
    .features__card h3 {
        font-size: 0.8rem;
    }
}


@media (max-width: 1000px) {
    .features {
        flex-direction: column;
        margin-top: 140px;
    }
    .features__main {
        width: 100%;
        margin-bottom: 20px;
    }
    .features__aside {
        width: 100%;
    }
    .features__card h3 {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {    
    .features__card h3 {
        font-size: 0.7rem;
    }
}