.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 180px;
    gap: 10px;
}

/* Features main block */

.features__main {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-left: 1px solid #bebebe;
    padding-left: 26px;
    border-right: 1px solid #bebebe;
    padding-right: 26px;
  }

.features__picture img {
    object-fit: contain;
    max-width: 819px;
    display: block;
    width: 100%;
}

.features__block_category {
    color: #fa6400;
}

.features__block_title {
    font-size: 2em;
    margin: 0;
}

.features__block_title:hover {
    color: #fa6400;
    cursor: pointer;
}

/* Features aside block */

.features__aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

.features__title {
    display: flex;
    align-items: center;
    background-color: #fa6400;
    padding-left: 20px;
    height: 40px;
}

.features__card {
    display: flex;
    gap: 20px;
}

.features__card-picture > img {
    object-fit: contain;
    max-width: 180px;
    display: block;
}

.features__card h3 {
    margin: 0;
}





@media (max-width: 1300px) {
    .features {
        gap: 10px;
    }
    .features__card h3 {
        font-size: 0.8em;
    }
}


@media (max-width: 1000px) {
    .features {
        flex-direction: column;
    }
    .features__main {
        width: 100%;
        padding-left: 0;
        border: none;
    }
    .features__picture {
        align-self: center;
    }
    .features__aside {
        width: 100%;
    }
    .features__card h3 {
        font-size: 1em;
    }
}

@media (max-width: 750px) {
    .features {
        margin-top: 120px;
    }
}

@media (max-width: 500px) {    
    .features__card h3 {
        font-size: 0.7em;
    }
}