
/* Header container */


.header__container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 45% 10% 45%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1290px;
}

.header__wrapper {
    margin: 30px 120px 0 120px;
    padding: 0;
}

.header__burger {
    display: none;
}

.header__list, 
.header__logo,
.header__social {
    text-align: center;
}

/* Header left part */

.header__list {
    font-weight: 700;
    padding-right: 20px;
}

ul {
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-between;
    align-items: center;
}

.header__list li {
    list-style: none;
}

.header__link {
    color: #000;
    text-decoration: none;
}

.header__link:hover {
    color: #fa6400;
    cursor: pointer;
}

.header__logo > img {
    width: 53px;
}

/* Header right part */

.header__social {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    align-items: center;
    justify-content: flex-end;
}

.header__social img {
    width: 18px;
    height: 18px;
}

.header__social li {
    list-style: none;
}

.header__search {
    display: flex;
    margin-left: 60px;
    gap: 10px;
}

input {
    width: 100%;
    border: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #e6e6e6;
}

input:focus {
    outline: 2px solid #fa6400; 
    border-radius: 3px;
}

input:focus::placeholder {
    color: transparent;
  }

.header__line {
    border-top: 2px solid #fa6400;
    margin-top: 10px;
    position: relative;
    width: 100%
}





  @media (max-width: 1363px) {
    .header__container {
        grid-template-columns: 35% 30% 35%;
        padding: 10px 0;
    }
    ul {
        display: grid;
        gap: 2px;
        grid-template-columns: repeat(2, 50%);
    }
    .header__list li {
        padding: 0;
        text-align: left;
  }
  .header__social {
        flex-direction: column-reverse;
        gap: 40px;
        padding: 0;
  }

  .header__social_list {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

@media (max-width: 1200px) {
    .header__wrapper {
        margin: 30px 40px;
    }
}


@media (max-width: 920px) {
    .header__social_list {
       gap: 10px;
    }
    .header__social {
        padding-left: 60px;
    }
    .header__social_list {
        gap: 10px;
    }
}

@media (max-width: 800px) {
    .header__container {
    padding: 0;
    }

    .header__list {
        display: none;
    }
    .header__social {
        margin: 0;
        padding: 0;
    }
    .header__social_list {
        display: none;
    }
    input {
        display: none;
    }
    .header__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header__burger {
        display: block;
    } 
    .header__burger img {
        width: 50px;
        padding: 0;
        margin: 0;
    }
    .header__logo > img {
        width: 43px;
    }
    
    .header__social img {
        width: 28px;
        height: 28px;
    }
    .header__wrapper {
        margin: 16px 16px;
    }
}

