
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 2px solid #fa6400;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 0 auto;
}

.header__burger {
    display: none;
}

/* Header left part */

.navigation__list {
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header__item {
    list-style: none;
}

.header__link {
    color: #000;
    text-decoration: none;
}

.header__link:hover {
    color: #fa6400;
    cursor: pointer;
}


/* Header cwnter part */

.header__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__logo > img {
    width: 53px;
}


/* Header right part */

.header__social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.social__list {
    display: flex;
    gap: 20px;
}

.header__social img {
    width: 18px;
    height: 18px;
}

.header__social li {
    list-style: none;
}

.header__search {
    display: flex;
    margin-left: 60px;
    gap: 10px;
}

.header__search_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__input {
    width: 100%;
    border: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #e6e6e6;
}

.header__input:focus {
    outline: 2px solid #fa6400; 
    border-radius: 3px;
}

.header__input:focus::placeholder {
    color: transparent;
  }




@media (max-width: 950px) {
   .navigation__list {
    flex-direction: column;
    height: 100px;
    width: 200px;
   }
   .header__social {
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 200px;
    transform: translateY(-16px);
    }
    .social__list {
        transform: translateX(20px);
    }
}

@media (max-width: 750px) {
    .header__wrapper {
        padding: 0 16px;
        max-height: 50px;
    }
    .header__logo img {
        width: 40px
    }
    .navigation__list,
    .social__list {
        display: none;
    }
    .header__input {
        display: none;
    }
    .header__social {
        transform: translateY(-2px);
        width: auto;
    }
    .header__social img {
        width: 26px;
        height: auto;
    }
    .header__burger {
        display: block;
        width: 86px;
    } 
    .header__burger img {
        width: 40px;
    }
}

